node_modules
.DS_Store
.py[co]
__pycache__
.log
src/standalone_processes/files/*.pdf
!src/standalone_processes/logs/.keep
src/standalone_processes/logs/
*.bin
new-backend/go-server/db_view*.txt
new-backend/go-server/server
new-backend/go-server/server.log
new-backend/memdb1
new-backend/memdb1-journal
src/particle-photon/*/target
build/config.gypi
