[Unit]
Description=Toggle Lightcrafter Project Display
After=network.target

[Service]
Type=oneshot
User=pi
# Copy this file to /etc/systemd/system
# sudo systemctl daemon-reload
# sudo systemctl start lightcrafter
# Run at boot: sudo systemctl enable lightcrafter
Environment=PATH=/home/pi/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
RemainAfterExit=yes
ExecStart=/usr/bin/sudo /usr/bin/python3 /home/pi/lovelace/src/standalone_processes/1650__toggleLightcrafter.py &
ExecStop=/usr/bin/pkill -f standalone_processes/1650__toggleLightcrafter.py

[Install]
WantedBy=multi-user.target